@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
* {
  /* Deixar tela inteira */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: unset;
}

html,
body {
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}

.container-main {
  width: 100%;
  max-width: 2290px;
  margin: 0 auto;
}
